.CSDContainer {
  position: absolute;
  background-color: rgba(173, 240, 173, 0.5);
  width: 90vh;
  top: 25vh;
  left: 5vw;
  height: 45vh;
  min-height: 450px;
  min-width: 600px;
  border-radius: 30px;
}

.ButtonDiv {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.promptDivContainer {
  display: flex;
  flex-direction: row;
}

.LoraDiv {
  background-color: blue;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 80%;
  margin-top: 0px;
}
